body {
  background: black;
  font-family: monospace;
  zoom: 1;
}

/* On portrait mode, we are cutesy nice and zoom out a bit */
@media (orientation: portrait) {
  body {
    zoom: 0.8;
  }
}

h1,
p {
  color: rgb(255, 255, 255);
  text-align: center;
}

#title {
  scale: 1.2;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title img {
  width: 4rem;
  height: 4rem;

  margin: 1.5rem;
}

#subtitle {
  margin-top: -1rem;
}

#centered-table {
  width: 70%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-collapse: collapse;
}

#centered-table td,
th {
  border: 5px solid rgb(255, 255, 255);
  padding: 1rem;
  padding-top: 2.5rem;
  text-align: center;
  vertical-align: top;
}

.cellTitle {
  margin-left: -1rem;
  margin-top: -2.5rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  float: left;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-left: 0px;
  border-top: 0px;
  cursor: help;
}

.showcaseImage {
  width: 90%;
  margin: 1rem;
  margin-bottom: 0;
}

/* Webring styles */
.webringImage {
  max-width: 88px;
  max-height: 31px;
  margin: 0.5rem;
}

/* Starry background */

.star-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle 1.5s infinite alternate;
}

.star::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
