body {
  background: black;
  font-family: monospace;
  zoom: 1;
}

h1,
p {
  color: rgb(255, 255, 255);
  text-align: center;
}

#title {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

#title img {
  width: 6rem;
  height: 6rem;

  margin: 2rem;
}

#subtitle {
  margin-top: -1rem;
}

#centered-table {
  width: 70%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-collapse: collapse;
}

#centered-table td,
th {
  border: 5px solid rgb(255, 255, 255);
  padding: 1rem;
  padding-top: 2.5rem;
  text-align: center;
  vertical-align: top;
}

@media screen and (orientation: portrait) {
  #centered-table,
  #centered-table tr,
  #centered-table td {
    display: block;
    width: 100% !important;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  #title {
    font-size: medium;
  }

  #title img {
    width: 3.5rem;
    height: 3.5rem;

    margin: 1rem;
  }
}

.cellTitle {
  margin-left: -1rem;
  margin-top: -2.5rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  float: left;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-left: 0px;
  border-top: 0px;
  cursor: help;
  font-weight: bold;
}

.showcaseImage {
  width: 90%;
  margin: 1rem;
  margin-bottom: 0;
}

/* Webring styles */
.webringImage {
  max-width: 88px;
  max-height: 31px;
  margin: 0.5rem;
}

/* Project items */
.projectItem {
  cursor: help;
}
.projectItem a {
  font-weight: bold;
  color: #f39395;
  text-decoration: #f39395 underline;
}

/* Star background */
#starBackground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
