body {
  background: black;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

#centered-table {
  border: 10px solid rgb(12, 22, 119);
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(129, 57, 57);
}

/* Starry background */

.star-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle 2s infinite alternate;
}

.star::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
