body {
  background: #212328;
  font-family: monospace;
  zoom: 1;
}

h1,
h2,
p {
  color: #b9d2ee;
}

h2 {
  font-size: x-large;
}

#title {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

#title img {
  width: 6rem;
  height: 6rem;
  margin: 2rem;
}

#subtitle {
  margin-top: -1rem;
}

#centered-table {
  width: 70%;
  max-width: 1080px;
  margin: 0 auto;
}

table {
  border-spacing: 1rem;
}

td {
  background-color: #24272ff0;
  padding: 1rem;
  padding-bottom: 1rem;
  vertical-align: top;
  text-align: center;
}

td {
  text-align: left;
  font-size: large;
}

td.webring {
  text-align: center;
}

a {
  font-weight: bold;
  color: #f9c8c9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

td > h1:first-child {
  background-color: #2a3137;
  color: #dae7f6;
  margin: -1rem -1rem 1rem -1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: x-large;
  text-align: left;
}

@media screen and (orientation: portrait) {
  #centered-table,
  #centered-table tr,
  #centered-table td {
    display: block;
    width: 100% !important;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  #title {
    font-size: medium;
  }

  #title img {
    width: 3.5rem;
    height: 3.5rem;

    margin: 1rem;
  }
}

/* Webring styles */
.webringImage {
  max-width: 88px;
  max-height: 31px;
  margin: 0.5rem;
}

/* Star background */
#starBackground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.mailmeFooter {
  background-color: #2123289a;
  max-width: fit-content;
  margin: 0 auto;
  padding: 0.5rem;
}
